* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

H1 {
  color: aliceblue;
}

.container {
  width: 100vw;
  height: 100vh;
  background: #6c7a89;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-box {
  width: 300px;
  height: 350px;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 20px;
}

.surch-box {
  display: flex;
  gap: 10px;
  align-items: center;
  /* flex: 40% 1; */
  border: 1 px solid red
}

button {
  background-color: white;
  border: 1px solid #6c757d;
  border-radius: 8px;
  color: rgb(19, 20, 27);
  cursor: pointer;
  font-size: 16px;
  height: 45px;
  padding: 6px 18px;
  text-align: center;
  font-weight: bold;
}

button:hover {
  background-color: #6c757d;
  color: #fff;
}

input {
  height: 30px;
  padding: 4px 10px;
  font-size: medium;
}

.input-cep {
  width: 70% ;
}
